
.container{
    font-family: monospace;
    max-width: 800px;
    margin: auto;
    padding: 100px;
}

.txtb{
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
    background: none;
    padding: 10px;
    outline: none;
    font-family: monospace;
    font-size: 24px;
}

h3{
    margin: 10px 0;
    font-size: 24px;
}

.task{
    width: 100%;
    padding: 18px;
    margin: 6px 0;
    overflow: hidden;
    font-size: 20px;
    background: rgba(255, 255, 255, 0, .5);
}

.task i{
    float: right;
    margin-left: 20px;
    cursor: pointer;
}

.comp .task{
    background: rgba(0,0,0,.5);
    color: #fff;
}

a:link{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color:inherit;
  
}


