body{
    background-color: black;
    color: greenyellow;
    font-family: 'Courier New', Courier, monospace;
}

li {
    color: greenyellow;
}

.item {
    color: purple;
}

.item:hover{
    color: greenyellow;
}
