.allActivities{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.activities{
    font-size: 62px;
    font-family: 'Zilla Slab', serif;
    height: 300px;
    color: #80D4FF;
    padding: 10px;
}

.activities:hover{
    color: #F0D06B;
}

